# 주택 가격 예측하기 (회귀)

## 조건 : 테스트세트 점수가 0.7 이상이어야 함 (아래 3가지 알고리즘 중 2가지 선택해서 사용)

### 힌트 : 과소적합이 나올 경우, 특성 늘린 뒤, MinMaxScaler 사용하기

### 회귀 알고리즘 종류
- LinearRegression
- Ridge
- KNeighborsRegressor

In [388]:
import pandas as pd
import numpy as np

## 'housing_price' csv파일을 불러와 'housing' 변수에 저장하기

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200

## housing 결측치 확인하기

## housing에 결측치가 있을 경우 null이 있는 행 모두 제거하기 + 잘 제거되었는지 확인

## 문제데이터(X), 정답데이터(y) 나누기
- 정답 데이터(y)는 'median_house_value'
- 문제 데이터(X)는 'median_house_value'을 뺀 나머지

## 문제데이터(X), 정답데이터(y) 잘 나누어졌는지 확인

In [ ]:
X.shape, y.shape

## EDA
- seaborn의 pairplot 사용
- x축은 housing_median_age 부터 median_income까지 나타내기(총 5개 칼럼)
- y축은 median_house_value 
- kind = 'reg'

## 학습용/테스트용 데이터 나누기
- test_size = 0.3
- random_state=3

## 학습용/테스트용 데이터 잘 나누어졌는지 확인

In [418]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(14303, 8) (6130, 8) (14303,) (6130,)

## 머신러닝 선택+객체만들기+학습+평가(R squared(0.7이상 나와야 함), RMSE 둘 다 계산)

### 힌트 : 과소적합이 나올 경우, 특성 늘린 뒤, MinMaxScaler 사용하기

### 회귀 알고리즘 종류 (3가지 중 2가지 선택)
- LinearRegression
- Ridge
- KNeighborsRegressor

## LinearRegression 알고리즘 사용할 경우

## Ridge 알고리즘 사용할 경우

## KNeighborsRegressor 알고리즘 사용할 경우