In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [32]:
data = pd.read_csv("./data/ThoraricSurgery.csv", header=None)
data.head()

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1
3   14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80   1
4   17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56   0

In [33]:
data.shape

(470, 18)

In [34]:
X = data.iloc[:,:17]
y = data.iloc[:,17]

In [35]:
X.head(2)

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60

In [36]:
y.head(2)

0    0
1    0
Name: 17, dtype: int64

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7)

In [39]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((352, 17), (118, 17), (352,), (118,))

In [40]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [41]:
model = Sequential()
model.add(Dense(32, input_dim=17, activation="relu")) # input_dim : ì—´
model.add(Dense(1, activation="sigmoid"))

In [43]:
model.compile(loss="binary_crossentropy",
             optimizer="adam",
             metrics=["accuracy"])

In [44]:
model.fit(X_train, y_train, epochs=30)

Epoch 1/30
11/11 [==============================] - 0s 815us/step - loss: 5.3921 - accuracy: 0.8551
Epoch 2/30
11/11 [==============================] - 0s 816us/step - loss: 2.8338 - accuracy: 0.8551
Epoch 3/30
11/11 [==============================] - 0s 725us/step - loss: 1.0499 - accuracy: 0.7784
Epoch 4/30
11/11 [==============================] - 0s 816us/step - loss: 0.8148 - accuracy: 0.7415
Epoch 5/30
11/11 [==============================] - 0s 815us/step - loss: 0.6602 - accuracy: 0.8267
Epoch 6/30
11/11 [==============================] - 0s 817us/step - loss: 0.5344 - accuracy: 0.8125
Epoch 7/30
11/11 [==============================] - 0s 814us/step - loss: 0.5096 - accuracy: 0.8438
Epoch 8/30
11/11 [==============================] - 0s 725us/step - loss: 0.4662 - accuracy: 0.8409
Epoch 9/30
11/11 [==============================] - 0s 816us/step - loss: 0.4313 - accuracy: 0.8523
Epoch 10/30
11/11 [==============================] - 0s 725us/step - loss: 0.4369 - accuracy: 0.8523
Epoch 11/30
11/11 [==============================] - 0s 636us/step - loss: 0.4438 - accuracy: 0.8551
Epoch 12/30
11/11 [==============================] - 0s 818us/step - loss: 0.4413 - accuracy: 0.8523
Epoch 13/30
11/11 [==============================] - 0s 725us/step - loss: 0.4474 - accuracy: 0.8551
Epoch 14/30
11/11 [==============================] - 0s 816us/step - loss: 0.4353 - accuracy: 0.8551
Epoch 15/30
11/11 [==============================] - 0s 813us/step - loss: 0.4173 - accuracy: 0.8551
Epoch 16/30
11/11 [==============================] - 0s 779us/step - loss: 0.4199 - accuracy: 0.8551
Epoch 17/30
11/11 [==============================] - 0s 817us/step - loss: 0.4378 - accuracy: 0.8551
Epoch 18/30
11/11 [==============================] - 0s 725us/step - loss: 0.4244 - accuracy: 0.8494
Epoch 19/30
11/11 [==============================] - 0s 726us/step - loss: 0.4316 - accuracy: 0.8523
Epoch 20/30
11/11 [==============================] - 0s 795us/step - loss: 0.4078 - accuracy: 0.8551
Epoch 21/30
11/11 [==============================] - 0s 997us/step - loss: 0.4245 - accuracy: 0.8523
Epoch 22/30
11/11 [==============================] - 0s 813us/step - loss: 0.4056 - accuracy: 0.8523
Epoch 23/30
11/11 [==============================] - 0s 817us/step - loss: 0.4184 - accuracy: 0.8551
Epoch 24/30
11/11 [==============================] - 0s 813us/step - loss: 0.4323 - accuracy: 0.8494
Epoch 25/30
11/11 [==============================] - 0s 725us/step - loss: 0.4121 - accuracy: 0.8551
Epoch 26/30
11/11 [==============================] - 0s 905us/step - loss: 0.4151 - accuracy: 0.8551
Epoch 27/30
11/11 [==============================] - 0s 809us/step - loss: 0.4239 - accuracy: 0.8551
Epoch 28/30
11/11 [==============================] - 0s 725us/step - loss: 0.4222 - accuracy: 0.8523
Epoch 29/30
11/11 [==============================] - 0s 750us/step - loss: 0.4393 - accuracy: 0.8551
Epoch 30/30
11/11 [==============================] - 0s 724us/step - loss: 0.4513 - accuracy: 0.8551

In [47]:
model.evaluate(X_test, y_test, verbose=0)

[0.5770496726036072, 0.8220338821411133]