In [1]:
import pandas as pd

In [2]:
xor_input = [
    [0, 0, 0],
    [0, 1, 1],
    [1, 0, 1],
    [1, 1, 0]
]

In [4]:
xor_df = pd.DataFrame(xor_input)
xor_df

   0  1  2
0  0  0  0
1  0  1  1
2  1  0  1
3  1  1  0

In [9]:
X_train  = xor_df.iloc[:,0:2] # 데이터 [ x1 : x2 , y1 : y2 ]
X_train

   0  1
0  0  0
1  0  1
2  1  0
3  1  1

In [10]:
y_train = xor_df.iloc[:,2] # 레이블 ( 정답 )
y_train

0    0
1    1
2    1
3    0
Name: 2, dtype: int64

In [11]:
from sklearn.neighbors import KNeighborsClassifier

In [12]:
model = KNeighborsClassifier(n_neighbors=1)

In [13]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [15]:
pre=model.predict(X_train)

In [16]:
pre

array([0, 1, 1, 0], dtype=int64)

In [17]:
# from sklearn.metrics import accuracy_score
import sklearn.metrics as metrics

In [18]:
"""방법1"""
ac_score = metrics.accuracy_score(y_train, pre)
print("정답률 =", ac_score)

"""방법2"""
print("정답률 =", model.score(X_train, y_train))

정답률 = 1.0
정답률 = 1.0

In [23]:
"""데이터 집어넣기"""
model.predict([[0,1]])

array([1], dtype=int64)

model.score(pred, y_train)